DATABASE_URL=postgresql://rently:rently@localhost:5432/rently
JWT_SECRET=supersecretjwt
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=supersecretrefresh
REFRESH_TOKEN_EXPIRES_IN=7d
APP_URL=http://localhost:3000
API_URL=http://localhost:4000
NODE_ENV=development
PORT=4000
